{% extends 'layout.html' %}

{% block content %}
<div class="container vendors">
    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a href="{{ url_for('main.create_firm') }}" class="btn btn-primary" style="margin-bottom: 10px;">Add New Firm</a>
            </div>
        </div>
        {% for firm in firms %}
        <div class="col-md-4">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h4 class="card-title">Name: {{ firm.name }}</h4>
                    <p class="card-text">Address: {{ firm.address }}</p>
                    <p class="card-text">GST Number: {{ firm.gst_no }}</p>
                    <p class="card-text">Description: {{ firm.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
